<h1>
  <p>STUDENTS</p>
</h1>

<% for student in @students %>
<p>Student name: <%= student.full_name %> </p>
<p>Age: <%= student.age %>  </p>
<p>House: <%= student.house.name %></p>
<p><a href="/students/<%= student.id %>">Show Student</a></p>
<hr />
<% end %>

