<form action="/customers/<%= @customers.id%>" method="POST">

<label for="name">Name:</label>
<input type="text" id="customername" name="name" value="<%= @customers.name %>">

<input type="submit" value="Change customer">
</form>